.@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --localhost-fakt-pro-bold-font-family: "Fakt Pro", Helvetica;
  --localhost-fakt-pro-bold-font-size: 12.796875px;
  --localhost-fakt-pro-bold-font-style: normal;
  --localhost-fakt-pro-bold-font-weight: 700;
  --localhost-fakt-pro-bold-letter-spacing: 0px;
  --localhost-fakt-pro-bold-line-height: 19.5px;
  --localhost-fakt-pro-medium-font-family: "Fakt Pro", Helvetica;
  --localhost-fakt-pro-medium-font-size: 16px;
  --localhost-fakt-pro-medium-font-style: normal;
  --localhost-fakt-pro-medium-font-weight: 500;
  --localhost-fakt-pro-medium-letter-spacing: 0px;
  --localhost-fakt-pro-medium-line-height: 24px;
  --localhost-fakt-pro-normal-underline-font-family: "Fakt Pro", Helvetica;
  --localhost-fakt-pro-normal-underline-font-size: 14px;
  --localhost-fakt-pro-normal-underline-font-style: normal;
  --localhost-fakt-pro-normal-underline-font-weight: 400;
  --localhost-fakt-pro-normal-underline-letter-spacing: 0px;
  --localhost-fakt-pro-normal-underline-line-height: 21px;
  --localhost-fakt-pro-normal-upper-font-family: "Fakt Pro", Helvetica;
  --localhost-fakt-pro-normal-upper-font-size: 13px;
  --localhost-fakt-pro-normal-upper-font-style: normal;
  --localhost-fakt-pro-normal-upper-font-weight: 400;
  --localhost-fakt-pro-normal-upper-letter-spacing: 0px;
  --localhost-fakt-pro-normal-upper-line-height: 19.5px;
  --localhost-material-symbols-outlined-regular-font-family: "Material Symbols Outlined",
    Helvetica;
  --localhost-material-symbols-outlined-regular-font-size: 14px;
  --localhost-material-symbols-outlined-regular-font-style: normal;
  --localhost-material-symbols-outlined-regular-font-weight: 400;
  --localhost-material-symbols-outlined-regular-letter-spacing: 0px;
  --localhost-material-symbols-outlined-regular-line-height: 14px;
  --localhost-semantic-button-font-family: "Fakt Pro", Helvetica;
  --localhost-semantic-button-font-size: 16px;
  --localhost-semantic-button-font-style: normal;
  --localhost-semantic-button-font-weight: 400;
  --localhost-semantic-button-letter-spacing: 0px;
  --localhost-semantic-button-line-height: 24px;
  --localhost-semantic-heading-1-font-family: "SF Pro Text", Helvetica;
  --localhost-semantic-heading-1-font-size: 15px;
  --localhost-semantic-heading-1-font-style: normal;
  --localhost-semantic-heading-1-font-weight: 400;
  --localhost-semantic-heading-1-letter-spacing: 0px;
  --localhost-semantic-heading-1-line-height: 18.75px;
  --localhost-semantic-heading-2-font-family: "Fakt Pro", Helvetica;
  --localhost-semantic-heading-2-font-size: 21.3125px;
  --localhost-semantic-heading-2-font-style: normal;
  --localhost-semantic-heading-2-font-weight: 700;
  --localhost-semantic-heading-2-letter-spacing: 0px;
  --localhost-semantic-heading-2-line-height: 33px;
  --localhost-semantic-heading-3-font-family: "Fakt Pro", Helvetica;
  --localhost-semantic-heading-3-font-size: 15.5px;
  --localhost-semantic-heading-3-font-style: normal;
  --localhost-semantic-heading-3-font-weight: 700;
  --localhost-semantic-heading-3-letter-spacing: 0px;
  --localhost-semantic-heading-3-line-height: 24px;
  --localhost-semantic-heading-4-font-family: "Fakt Pro", Helvetica;
  --localhost-semantic-heading-4-font-size: 16px;
  --localhost-semantic-heading-4-font-style: normal;
  --localhost-semantic-heading-4-font-weight: 400;
  --localhost-semantic-heading-4-letter-spacing: 0px;
  --localhost-semantic-heading-4-line-height: 24px;
  --localhost-semantic-input-font-family: "Fakt Pro", Helvetica;
  --localhost-semantic-input-font-size: 16px;
  --localhost-semantic-input-font-style: normal;
  --localhost-semantic-input-font-weight: 400;
  --localhost-semantic-input-letter-spacing: 0px;
  --localhost-semantic-input-line-height: normal;
  --localhost-semantic-label-font-family: "Fakt Pro", Helvetica;
  --localhost-semantic-label-font-size: 14px;
  --localhost-semantic-label-font-style: normal;
  --localhost-semantic-label-font-weight: 500;
  --localhost-semantic-label-letter-spacing: 0px;
  --localhost-semantic-label-line-height: 21px;
  --localhost-semantic-link-font-family: "Material Symbols Outlined", Helvetica;
  --localhost-semantic-link-font-size: 24px;
  --localhost-semantic-link-font-style: normal;
  --localhost-semantic-link-font-weight: 400;
  --localhost-semantic-link-letter-spacing: 0px;
  --localhost-semantic-link-line-height: 24px;
  --localhost-semantic-link-underline-font-family: "Fakt Pro", Helvetica;
  --localhost-semantic-link-underline-font-size: 16px;
  --localhost-semantic-link-underline-font-style: normal;
  --localhost-semantic-link-underline-font-weight: 400;
  --localhost-semantic-link-underline-letter-spacing: 0px;
  --localhost-semantic-link-underline-line-height: 24px;
  --localhost-semantic-slot-font-family: "Fakt Pro", Helvetica;
  --localhost-semantic-slot-font-size: 14px;
  --localhost-semantic-slot-font-style: normal;
  --localhost-semantic-slot-font-weight: 400;
  --localhost-semantic-slot-letter-spacing: 0px;
  --localhost-semantic-slot-line-height: 21px;
  --localhost-semantic-slot-underline-font-family: "Fakt Pro", Helvetica;
  --localhost-semantic-slot-underline-font-size: 14px;
  --localhost-semantic-slot-underline-font-style: normal;
  --localhost-semantic-slot-underline-font-weight: 400;
  --localhost-semantic-slot-underline-letter-spacing: 0px;
  --localhost-semantic-slot-underline-line-height: 21px;
  --localhost-semantic-strong-font-family: "Fakt Pro", Helvetica;
  --localhost-semantic-strong-font-size: 16px;
  --localhost-semantic-strong-font-style: normal;
  --localhost-semantic-strong-font-weight: 700;
  --localhost-semantic-strong-letter-spacing: 0px;
  --localhost-semantic-strong-line-height: 24px;
  --localhost-semantic-strong-underline-font-family: "Fakt Pro", Helvetica;
  --localhost-semantic-strong-underline-font-size: 16px;
  --localhost-semantic-strong-underline-font-style: normal;
  --localhost-semantic-strong-underline-font-weight: 400;
  --localhost-semantic-strong-underline-letter-spacing: 0px;
  --localhost-semantic-strong-underline-line-height: 24px;
  --localhost-semantic-summary-font-family: "Fakt Pro", Helvetica;
  --localhost-semantic-summary-font-size: 14px;
  --localhost-semantic-summary-font-style: normal;
  --localhost-semantic-summary-font-weight: 500;
  --localhost-semantic-summary-letter-spacing: 0px;
  --localhost-semantic-summary-line-height: 21px;
  --zawkey-semaphoreci-com-fakt-pro-bold-font-family: "Fakt Pro", Helvetica;
  --zawkey-semaphoreci-com-fakt-pro-bold-font-size: 18.703125px;
  --zawkey-semaphoreci-com-fakt-pro-bold-font-style: normal;
  --zawkey-semaphoreci-com-fakt-pro-bold-font-weight: 700;
  --zawkey-semaphoreci-com-fakt-pro-bold-letter-spacing: 0px;
  --zawkey-semaphoreci-com-fakt-pro-bold-line-height: 28.5px;
  --zawkey-semaphoreci-com-fakt-pro-normal-font-family: "Fakt Pro", Helvetica;
  --zawkey-semaphoreci-com-fakt-pro-normal-font-size: 13px;
  --zawkey-semaphoreci-com-fakt-pro-normal-font-style: normal;
  --zawkey-semaphoreci-com-fakt-pro-normal-font-weight: 400;
  --zawkey-semaphoreci-com-fakt-pro-normal-letter-spacing: 0px;
  --zawkey-semaphoreci-com-fakt-pro-normal-line-height: 19.5px;
  --zawkey-semaphoreci-com-fakt-pro-normal-underline-font-family: "Fakt Pro",
    Helvetica;
  --zawkey-semaphoreci-com-fakt-pro-normal-underline-font-size: 15px;
  --zawkey-semaphoreci-com-fakt-pro-normal-underline-font-style: normal;
  --zawkey-semaphoreci-com-fakt-pro-normal-underline-font-weight: 400;
  --zawkey-semaphoreci-com-fakt-pro-normal-underline-letter-spacing: 0px;
  --zawkey-semaphoreci-com-fakt-pro-normal-underline-line-height: 22.5px;
  --zawkey-semaphoreci-com-helvetica-neue-regular-font-family: "Helvetica Neue",
    Helvetica;
  --zawkey-semaphoreci-com-helvetica-neue-regular-font-size: 15px;
  --zawkey-semaphoreci-com-helvetica-neue-regular-font-style: normal;
  --zawkey-semaphoreci-com-helvetica-neue-regular-font-weight: 400;
  --zawkey-semaphoreci-com-helvetica-neue-regular-letter-spacing: 0px;
  --zawkey-semaphoreci-com-helvetica-neue-regular-line-height: 22.5px;
  --zawkey-semaphoreci-com-inter-regular-font-family: "Inter", Helvetica;
  --zawkey-semaphoreci-com-inter-regular-font-size: 12px;
  --zawkey-semaphoreci-com-inter-regular-font-style: normal;
  --zawkey-semaphoreci-com-inter-regular-font-weight: 400;
  --zawkey-semaphoreci-com-inter-regular-letter-spacing: 0px;
  --zawkey-semaphoreci-com-inter-regular-line-height: normal;
  --zawkey-semaphoreci-com-jetbrains-mono-regular-font-family: "JetBrains Mono",
    Helvetica;
  --zawkey-semaphoreci-com-jetbrains-mono-regular-font-size: 15px;
  --zawkey-semaphoreci-com-jetbrains-mono-regular-font-style: normal;
  --zawkey-semaphoreci-com-jetbrains-mono-regular-font-weight: 400;
  --zawkey-semaphoreci-com-jetbrains-mono-regular-letter-spacing: 0px;
  --zawkey-semaphoreci-com-jetbrains-mono-regular-line-height: 22.5px;
  --zawkey-semaphoreci-com-roboto-regular-font-family: "Roboto", Helvetica;
  --zawkey-semaphoreci-com-roboto-regular-font-size: 14px;
  --zawkey-semaphoreci-com-roboto-regular-font-style: normal;
  --zawkey-semaphoreci-com-roboto-regular-font-weight: 400;
  --zawkey-semaphoreci-com-roboto-regular-letter-spacing: 0px;
  --zawkey-semaphoreci-com-roboto-regular-line-height: 19.600000381469727px;
  --zawkey-semaphoreci-com-roboto-regular-underline-font-family: "Roboto",
    Helvetica;
  --zawkey-semaphoreci-com-roboto-regular-underline-font-size: 14.765625px;
  --zawkey-semaphoreci-com-roboto-regular-underline-font-style: normal;
  --zawkey-semaphoreci-com-roboto-regular-underline-font-weight: 400;
  --zawkey-semaphoreci-com-roboto-regular-underline-letter-spacing: 0px;
  --zawkey-semaphoreci-com-roboto-regular-underline-line-height: 22.5px;
  --zawkey-semaphoreci-com-roboto-semibold-font-family: "Roboto", Helvetica;
  --zawkey-semaphoreci-com-roboto-semibold-font-size: 16px;
  --zawkey-semaphoreci-com-roboto-semibold-font-style: normal;
  --zawkey-semaphoreci-com-roboto-semibold-font-weight: 600;
  --zawkey-semaphoreci-com-roboto-semibold-letter-spacing: 0px;
  --zawkey-semaphoreci-com-roboto-semibold-line-height: 22.399999618530273px;
  --zawkey-semaphoreci-com-semantic-heading-1-font-family: "SF Pro Text",
    Helvetica;
  --zawkey-semaphoreci-com-semantic-heading-1-font-size: 15px;
  --zawkey-semaphoreci-com-semantic-heading-1-font-style: normal;
  --zawkey-semaphoreci-com-semantic-heading-1-font-weight: 400;
  --zawkey-semaphoreci-com-semantic-heading-1-letter-spacing: 0px;
  --zawkey-semaphoreci-com-semantic-heading-1-line-height: 18.75px;
  --zawkey-semaphoreci-com-semantic-heading-2-font-family: "Roboto", Helvetica;
  --zawkey-semaphoreci-com-semantic-heading-2-font-size: 21.65625px;
  --zawkey-semaphoreci-com-semantic-heading-2-font-style: normal;
  --zawkey-semaphoreci-com-semantic-heading-2-font-weight: 500;
  --zawkey-semaphoreci-com-semantic-heading-2-letter-spacing: 0px;
  --zawkey-semaphoreci-com-semantic-heading-2-line-height: 33px;
  --zawkey-semaphoreci-com-semantic-input-font-family: "Roboto", Helvetica;
  --zawkey-semaphoreci-com-semantic-input-font-size: 16px;
  --zawkey-semaphoreci-com-semantic-input-font-style: normal;
  --zawkey-semaphoreci-com-semantic-input-font-weight: 400;
  --zawkey-semaphoreci-com-semantic-input-letter-spacing: 0px;
  --zawkey-semaphoreci-com-semantic-input-line-height: normal;
  --zawkey-semaphoreci-com-semantic-label-font-family: "Fakt Pro", Helvetica;
  --zawkey-semaphoreci-com-semantic-label-font-size: 16px;
  --zawkey-semaphoreci-com-semantic-label-font-style: normal;
  --zawkey-semaphoreci-com-semantic-label-font-weight: 400;
  --zawkey-semaphoreci-com-semantic-label-letter-spacing: 0px;
  --zawkey-semaphoreci-com-semantic-label-line-height: 24px;
  --zawkey-semaphoreci-com-semantic-link-font-family: "Fakt Pro", Helvetica;
  --zawkey-semaphoreci-com-semantic-link-font-size: 14px;
  --zawkey-semaphoreci-com-semantic-link-font-style: normal;
  --zawkey-semaphoreci-com-semantic-link-font-weight: 400;
  --zawkey-semaphoreci-com-semantic-link-letter-spacing: 0px;
  --zawkey-semaphoreci-com-semantic-link-line-height: 21px;
  --zawkey-semaphoreci-com-semantic-link-underline-font-family: "Roboto",
    Helvetica;
  --zawkey-semaphoreci-com-semantic-link-underline-font-size: 16px;
  --zawkey-semaphoreci-com-semantic-link-underline-font-style: normal;
  --zawkey-semaphoreci-com-semantic-link-underline-font-weight: 400;
  --zawkey-semaphoreci-com-semantic-link-underline-letter-spacing: 0px;
  --zawkey-semaphoreci-com-semantic-link-underline-line-height: 24px;
  --zawkey-semaphoreci-com-semantic-options-font-family: "Roboto", Helvetica;
  --zawkey-semaphoreci-com-semantic-options-font-size: 16px;
  --zawkey-semaphoreci-com-semantic-options-font-style: normal;
  --zawkey-semaphoreci-com-semantic-options-font-weight: 400;
  --zawkey-semaphoreci-com-semantic-options-letter-spacing: 0px;
  --zawkey-semaphoreci-com-semantic-options-line-height: 24px;
}
